#root {
 
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.dots-bg {
  background: radial-gradient(white 2px, transparent 1px);
  background-size: 20px 20px;
  animation: moveDots 10s linear infinite;
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
button{
  box-shadow:2px 2px 20px 2px white;
}